/* GENERAL STYLES */
* {
  box-sizing: border-box;
}
body{
  font-family: Arial, San-serif;
  font-size: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li{
  list-style-type: none;
}

/* HEADER */
.header {
  background-color: yellowgreen;
  padding: 20px 0;
}

.header h1,
.header h2 {
  color: greenyellow;
  text-align: center;
}

/* NAVIGATION */
.page-navigation {
  background-color: #222;
  border-color: #101010;
  min-height: 64px;
}

.page-navigation li {
  float: left;
}

.page-navigation li:hover {
  background-color: black;
}

.page-navigation li:hover a{
  color: yellowgreen;
}

.page-navigation a {
  text-decoration: none;
  font-weight: bold;
  line-height: 4em;
  color: #9d9d9d;
  padding: 0 30px;
}


/* SIDEBAR PART */
.sidebar {
  width: 20%;
  float: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  color: yellowgreen;
  line-height: 2rem;
}



/* MAIN PART */

.main {
  display: inline-block;
  width: 80%;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #777;
}

.article .figure {
  display: inline-block;
  float: left;
  margin: 0 20px 20px 0;
}

.figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 340px;
  margin: auto;
}

.figure img {
  max-width: 300px;
}

.caption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.info {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: 700;
  color: yellowgreen;
  padding: 0 10px;
  margin-left: 10px;
  width: 200px;
  height: 100%;
  border-left: 1px solid yellowgreen;
}



.date {
  margin-top: 20px;
}

/* FOOTER */

.footer {
  background-color: yellowgreen;
  color: white;
  padding: 20px;
  margin-top: 30px;
  clear: both;
}